@import 'config';

.screen { 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    position: relative;
  
}

.main {
    width: 100%;
    height: auto;
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
}

.leftbar {
    width: 15%;
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    
    &__linklogo {
        width: 70%;
        height: 63px;
    
        &--logo {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-left: 18px;
        }
    }

    &__nav {
        width: 90%;
        height: 120px;
        min-height: 30px;
        display: flex;
        flex-direction: column;

        &--list {
            width: 80%;
            height: 40px;
            padding: 16px;
            display: flex;
            justify-content: flex-start;
            
            &--link {
                width: 100%;
                height: 24px;
                display: flex;
                justify-content: flex-start;
                text-decoration: none;
            }

            &--icon {
                width: 24px;
                height: 24px;
                color: $font-color;

                &:hover {
                    color: $secondary-color;
                }
            }

            &--title {
                font-family: $font-family;
                font-size: .9rem;
                line-height: 1.45;
                letter-spacing: .015em;
                font-weight: normal;
                color: $font-color;
                margin-left: 1.1em;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }


    &__footer {
        width: 70%;
        height: 136px;
        margin-top: 179px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        &--container {
            width: 100%;
            height: 72px;
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        &--contentbox {
            width: 80%;
            height: 57px;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &--link {
            font-family: $font-family;
            font-size: .75rem;
            color: $font-color;
            text-decoration: none;
          
            &:hover {
                text-decoration: underline;
            }

        }

        &--divider {
            width: 13px;
            height: 1px;
            background-color: $font-color;
        }
    }
}

.mainview {
    width: 85%;
    height: 522px;
    margin-left: 230px;
    background-color: $font-color;
    display: flex;
    flex-direction: column;

    &__topbar {
        background-color: $bg-color;
        width: 100%;
        height: 80px;
        padding-top: 20px;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        z-index: 1;

        &--arrows {
            width: 96px;
            height: 32px;
            margin-left: 40px;
            display: flex;
           
            &--arrow {
                border: 3px solid black;
                background-color: $bg-color;
                width: 32px;
                height: 32px;
                margin-left: 0px;
                border-radius: 50px;

                &:hover {
                    background-color: $primary-color;
                }

            }
        }

        &--searchbar {
            width: 30%;
            height: 40px;
            font-size: 1rem;
            border-radius: 30px;
            border-radius: 30px;
            border: 4px solid transparent;
            background-clip: padding-box;
            background-color: $secondary-color;
            text-align: center;

            &:focus {
                border: 5px solid dodgerblue;
            }
        }
        
        &--button {
            width: 20%;
            height: 38px;
            display: flex;
            justify-content: space-evenly;
            border: 2px solid palegreen;

            &--signup {
                width: 40%;
                height: auto;
                border-radius: 30px;
                border: 2px solid red;
                background-color: red;
                color: $font-color;

                &:hover {
                    color: aqua;
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
            }

            &--login {
                font-size: 1rem;
                width: 40%;
                height: auto;
                border-radius: 30px;
                background-color: $secondary-color;
                color: $font-color;
                
                &:hover {
                    color: aqua;
                    transform: scale(1.1)
                }
            }
        }
    }

    &__gridcontainer {
        width:100%;
        height: auto;
        margin-top: 60px;
        padding: 20px;
        background-color: #242424;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        

        &--card {
            border: 1px solid $primary-color;
            border-radius: 16px;
            padding: 1em;
            display: flex;
            align-items: space-evenly;
            justify-content: space-evenly;
            overflow: hidden;

            &--title {
                font-family: $font-family;
                color: floralwhite;
                font-weight: bold;
                font-size: 2em;
                padding-top: 10px;
                text-shadow: 3px 3px 3px darkslategrey;
            }
            
            &--picture {
                transform: rotate(20deg);
                -webkit-transform: rotate(20deg);
                -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                -o-transform: rotate(20deg);
}
        }   
       
        &--card1 {
            grid-area: 1/1/2/2;
            background-color: rgba(6, 179, 247, 1);
        }

        &--card2 {
            grid-area: 1/2/2/3;
            background-color: rgba(127, 255, 212, 1);
        }

        &--card3 {
            grid-area: 1/3/2/4;
            background-color: rgba(8, 190, 90, 1);
        }
        
        &--card4 {
            grid-area: 1/4/2/5;
            background-color: rgba(182, 230, 9, 1);
        }

        &--card5 {
            grid-area: 2/1/3/2;
            background-color: rgba(247, 211, 6, 1);
        }

        &--card6 {
            grid-area: 2/2/3/3;
            background-color: rgba(247, 151, 6, 1);
        }

        &--card7 {
            grid-area: 2/3/3/4;
            background-color: rgba(247, 82, 6, 1);
        }
        
        &--card8 {
            grid-area: 2/4/3/5;
            background-color: rgba(247, 6, 6, 1);
        }

        &--card9 {
            grid-area: 3/1/4/2;
            background-color: rgba(247, 6, 139, 1);
        }

        &--card10 {
            grid-area: 3/2/4/3;
            background-color: rgba(207, 6, 247, 1);
        }

        &--card11 {
            grid-area: 3/3/4/4;
            background-color: rgba(98, 6, 247, 1);
        }
        
        &--card12 {
            grid-area: 3/4/4/5;
            background-color: rgba(6, 22, 247, 1);
        }

        &--card13 {
            grid-area: 4/1/5/2;
            background-color: rgba(6, 179, 247, 1);
        }

        &--card14 {
            grid-area: 4/2/5/3;
            background-color: rgba(6, 247, 215, 1);
        }

        &--card15 {
            grid-area: 4/3/5/4;
            background-color: rgba(26, 247, 6, 1);
        }
        
        &--card16 {
            grid-area: 4/4/5/5;
            background-color: rgba(211, 247, 6, 1);
        }
    }
}

.now__playingbar {
    width: 100%;
    height: 110px;
    padding-bottom: 2em;
    padding-top: 2em;
    z-index: 1;
    background-color: $bg-color;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

    &--playercontrol {
        width: 20%;
        height: 60px;

        &--buttons {
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: space-between;
        }

        &--button {
            width: 20px;
            height: 20px;

            &--playing {
                width: 30px;
                height: 30px;
            }
        
            &:hover {
                transform: rotate(20deg);
            }
        }

        &--bar {
            margin-top: 20px;
            width: 100%;
            font-family: $font-family;
            color: $font-color;
            font-size: 1rem;
            display: flex;
            justify-content: space-evenly;

            &--playing {
                width: 220px;
                height: 3px;
                border-radius: 30px;
                background-color: grey;
            }
        }
    }
 
    &--volume {
        width: 20%;
        height: 32px;
        align-self: flex-end;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &--icon {
            width: 20px;
            height: 20px;
        }

        &--bar {
            width: 80%;
            height: 3px;
            border-radius: 30px;
            background-color: grey;
        }
    }
}
